<ion-view view-title="Spots">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="video in videos" type="item-text-wrap" href="#/tab/videos/{{video.id}}">
        <img ng-src="{{video.KeyFrameThumbnailUrl}}">
        <h2>{{video.SpotTitle}}</h2>
        <p>{{video.SpotDescription}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(video)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
